numpy
pandas
scikit-learn
optuna
torch
transformers
datasets
fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-groq
langgraph
python-dotenv
pyarrow 
fastparquet
sentence-transformers
pydantic